/*Use this for custom stuff*/


.jumbotron {
	/*background-image: url('../mac.jpg');*/
}

.jumbotron {
    background-image: url('../mac.jpg');
}

body {
    background-color: #FFDB94;

<img src="../mac.jpg" class="img-circle"> 

}

.navbar-inverse{
	background-color: orange;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}
